CONFIG_IDF_TARGET="esp32"
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200
CONFIG_CODEC_ES8388_SUPPORT=y

# FreeRTOS — larger stack for audio decode
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
